<% if(preostalo) { %>
    <button type="button" class="btn btn-primary"><a onclick="iducePitanje()">Iduće pitanje</a></button>
<% } else {%>
    <button type="button" class="btn btn-primary"><a onclick="zatvoriAnketu()">Zaustavi anketu</a></button>
<% } %>
<br><br><br>
